/************************************
*
* Author: Wladislaw
* Date: 17.08.22
*
/* Style all p tags */

#header{
    position: absolute;
    top: 0;
    left: 0;
}

#header h1{
    font-size: 32px;

}
 /* Style all header tags */
p{
    font-size: 18px;
    color: aqua;
}

#header p {
    font-size: 24px;
}

h1{
    font-size: 32px;
}

a{
    text-decoration: underline;
    color: blue;
}

span{
    text-transform: uppercase;
}

div{
    width: 100%;
    background-color: grey;
}